      .slider {
        transition: .4s;
        
        &::before {
          position: absolute;
          content: "";
          height: 18px;
          width: 18px;
          border-radius: 50%;
          left: 3px;
          bottom: 3px;
          background-color: white;
          transition: .4s;
        }
      }

      input:checked+.slider {
        background-color: #ccc;
      }

      input:checked+.slider::before {
        transform: translateX(18px);
      }