.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  width: 245px;
  height: 100%;
  transform: translateX(0);

  @media (min-width: 1300px) {
    width: 245px;
    transform: translateX(0);
  }

  @media (max-width: 1300px) {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;

    &.open {
      transform: translateX(0);
    }

    &:not(.open) {
      transform: translateX(-100%);
    }

    @media (max-width: 500px) {
      width: calc(100% - 20%);
      overflow-x: hidden;
    }
  }

  .sidebar-category {
    transition: 0.5s;

    &:hover {
      background-color: #232629;
      color: #838282;
    }

    .active {
      background-color: #232629;
      color: #e4e4e4;
    }
  }
}
