$primary-color: #8584f6;
$secondary-color: #c7cbd1;
$border-color: #5e5b7b;
$font-family: 'Inter', sans-serif;
$tertiary-color: #9799b5;
$border-radius: 10px;
$border-radius2: 8px;
$white-color: #fff;
$blue-color: #4040a6;
$font-size: 20px;

.list-header{
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;

    .custom-button {
        display: flex;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;
        font-size: 14px;
    
        &:hover {
            .icon-container {
                background-color: $blue-color;
                color: $white-color;
            }
    
            .button-text {
                background-color: $white-color;
                color: $blue-color;
            }
        }
    
        .icon-container {
            background-color: $white-color; 
            border-top-left-radius:$border-radius2;
            border-bottom-left-radius: $border-radius2; 
            color: $blue-color; 
            text-align: center;
            padding: 10px;
            font-size: $font-size;
            transition: background-color 0.5s, color 0.5s;
        }
    
        .button-text {
            background-color: $blue-color;
            color: $white-color; 
            border-top-right-radius: $border-radius2; 
            border-bottom-right-radius: $border-radius2; 
            text-align: center;
            padding: 14.5px 25px;
            font-weight: 800;
            transition: background-color 0.5s, color 0.5s;
        }
    }
}

.list-body{
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    .table-container{
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        table{
            white-space: nowrap; 
            border-collapse: collapse; 
            border-spacing: 0;
    
            th{
                padding-bottom: 20px;
                transition: padding 0.5s ease;

                @media (max-width: 768px) {
                    padding: 0 0.625em 20px 0.625em; 
                  }
            }
        
            tbody > tr{
                border-top: 1px solid $border-color;
            }

            td{
                padding: 20px 0;
                transition: padding 0.5s ease;

                @media (max-width: 768px) {
                    padding: 20px 0.625em; 
                  }
            }
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;

    .page-numbers {
        display: flex;
        align-items: center;
        margin: 0 10px; 
        flex-wrap: wrap; 

        span {
            display: inline-block;
            padding: 5px 10px; 
            margin: 0 5px; 
            border: 1px solid $primary-color; 
            color: #c7cbd1;
            border-radius: 5px; 
            cursor: pointer; 
            transition: background-color 0.3s; 

            &.active {
                background-color: $primary-color; 
                color: $white-color; 
            }

            &:hover {
                background-color: rgba(133, 132, 246, 0.3); 
            }
        }
    }

    i {
        cursor: pointer;
        font-size: $font-size;
        color: $secondary-color;

        &.disabled {
            opacity: 0.5; 
            pointer-events: none; 
        }
    }
}


