$size-values: (
    20px,
    22px,
    24px,
    30px,
    40px,
    42px,
    50px,
    55px,
    60px,
    65px,
    75px,
    80px,
    97px,
    100px,
    150px,
    170px,
    200px,
    245px,
    250px,
    270px,
    300px,
    350px,
    354px,
    400px,
    450px,
    500px,
    670px,
    700px,
    800px,
    1000px,
    1024px,
    1200px,
    1400px,
    100vh,
    auto,
);

$border-radius-values: (
    4px,
    5px,
    6px,
    8px,
    10px,
    12px,
    15px,
    16px,
    20px,
    24px
);

$cursor-values: (
    auto,
    default,
    pointer,
    crosshair,
    move,
    text,
    wait,
    help,
    not-allowed
);

$overflow-values: (
    visible,
    hidden,
    scroll,
    auto
);

$border-values: (
    0,
    none,
    solid,
    dashed,
    dotted,
    double
);

$border-width-values: (
    0,
    1px,
    2px,
    3px,
    4px,
    5px
);

$outline-values: (
    none,
    solid,
    dashed,
    dotted,
    double
);


@mixin generate-size-classes($property, $values) {
    @each $value in $values {
        .#{$property}-#{$value} {
            #{$property}: $value;
        }
    }
}

@mixin generate-border-radius-classes($property, $values) {
    @each $value in $values {
        .#{$property}-#{$value} {
            #{$property}: $value;
        }
    }
}

@mixin generate-cursor-classes($values) {
    @each $value in $values {
        .cursor-#{$value} {
            cursor: $value;
        }
    }
}

@mixin generate-overflow-classes($values) {
    @each $value in $values {
        .overflow-#{$value} {
            overflow: $value;
        }
    }
}

@mixin generate-border-classes($property, $values) {
    @each $value in $values {
        .#{$property}-#{$value} {
            #{$property}: $value;
        }
    }
}

@mixin generate-border-width-classes($values) {
    @each $value in $values {
        .border-width-#{$value} {
            border-width: $value;
        }
    }
}

@mixin generate-outline-classes($property, $values) {
    @each $value in $values {
        .#{$property}-#{$value} {
            #{$property}: $value;
        }
    }
}

@include generate-size-classes(width, $size-values);
@include generate-size-classes(height, $size-values);
@include generate-size-classes(max-width, $size-values);
@include generate-border-radius-classes(border-radius, $border-radius-values);
@include generate-cursor-classes($cursor-values);
@include generate-overflow-classes($overflow-values);
@include generate-border-classes(border, $border-values);
@include generate-border-width-classes($border-width-values);
@include generate-outline-classes(outline, $outline-values);

.width-0{
    width: 0;
}

.width-50{
    width: 50%;
}

.height-0{
    height: 0;
}

.opacity-0{
    opacity: 0;
}

.flex-1{
    flex: 1;
}

.border-radius-50 {
    border-radius: 50%;
}
