// Font Size Helper Mixins
@mixin font-size($size) {
  font-size: $size;
}

@mixin font-style($style) {
  font-style: $style;
}

@mixin font-weight($weight) {
  font-weight: $weight;
}

@mixin line-height($height) {
  line-height: $height;
}

@mixin letter-spacing($spacing) {
  letter-spacing: $spacing;
}

@mixin text-transform($transform) {
  text-transform: $transform;
}

// Font Size Classes

.font-size-xxs{
  @include font-size(8px); // 8px
}

.font-size-9px{
  @include font-size(9px); // 9px
}

.font-size-xs {
  @include font-size(10px); // 10px
}

.font-size-11px{
  @include font-size(11px); // 11px
}

.font-size-12px{
  @include font-size(12px); // 12px
}

.font-size-13px{
  @include font-size(13px); // 13px
}

.font-size-sm {
  @include font-size(14px); // 14px
}

.font-size-15px {
  @include font-size(15px); // 15px
}

.font-size-md {
  @include font-size(16px); // 16px
}

.font-size-lg {
  @include font-size(18px); // 18px
}

.font-size-xl {
  @include font-size(20px); // 20px
}

.font-size-2xl {
  @include font-size(24px); // 24px
}

.font-size-3xl {
  @include font-size(30px); // 30px
}

.font-size-32px{
  @include font-size(32px); // 32px
}

.font-size-4xl {
  @include font-size(36px); // 36px
}

.font-size-80px{
  @include font-size(80px); // 80px
}

// Font Weight Classes
.font-weight-light {
  @include font-weight(300);
}

.font-weight-normal {
  @include font-weight(400);
}

.font-weight-medium {
  @include font-weight(500);
}

.font-weight-semibold {
  @include font-weight(600);
}

.font-weight-bold {
  @include font-weight(700);
}

.font-weight-bolder {
  @include font-weight(800);
}

.font-weight-black {
  @include font-weight(900);
}

// Line Height Classes

.line-height-sm {
  @include line-height(13px);
}

.line-height-normal {
  @include line-height(1.5);
}

.line-height-tight {
  @include line-height(1.25);
}

.line-height-loose {
  @include line-height(1.75);
}

.line-height-xxl{
  @include line-height(42px);
}

.line-height-3xl{
  @include line-height(54px);
}

.line-height-4xl{
  @include line-height(100px);
}

// Font Family Classes
$font-family-primary: 'Inter', normal;
$font-family-secondary: 'Inter', normal;

.font-family-primary {
  font-family: $font-family-primary;
}

.font-family-secondary {
  font-family: $font-family-secondary;
}

// Text Transform Classes
.text-uppercase {
  @include text-transform(uppercase);
}

.text-lowercase {
  @include text-transform(lowercase);
}

.text-capitalize {
  @include text-transform(capitalize);
}

.text-normal-case {
  @include text-transform(normal);
}

// Letter Spacing Classes

.letter-spacing-custom{
  @include letter-spacing(-1px);
}

.letter-spacing-medium{
  @include letter-spacing(-.005em);
}
.letter-spacing-tight {
  @include letter-spacing(-0.01em); // Adjust letter-spacing as needed
}

.letter-spacing-tighter {
  @include letter-spacing(-0.1em); // -0.1em letter spacing
}

.letter-spacing-normal {
  @include letter-spacing(0); // Default spacing
}

.letter-spacing-wide {
  @include letter-spacing(0.1em); // Adjust letter-spacing as needed
}

.letter-spacing-spaced{
  @include letter-spacing(.5px);
}

.letter-spacing-2px{
  @include letter-spacing(2px);
}

.letter-spacing-custom-tight {
  @include letter-spacing(-0.01em); // New class with letter-spacing: -0.01em
}

.text-italic{
  @include font-style(italic);
}

.text-normal{
  @include font-style(normal)
}

.text-bold{
  @include font-style(bold);
}

.text-align-center{
  text-align: center;
}

.text-decoration-none{
  text-decoration: none;
}
