$themes: (
  light: (
    background: #eeeef0,
    primary: #3498db,
    secondary: #2ecc71,
    danger: #e74c3c,
    warning: #f1c40f,
    info: #1abc9c,
    light: #ecf0f1,
    dark: #2c3e50,
    text: #2c3e50,
    p: #333333,
    text-gray: #333333,
    a: #1e90ff,
    h1: #ffffff,
    h2: #ffffff,
    bg-div: #fff,
    arrow-bg: #eeeef0,
    arrow-fill: #000000,
    input-text: #333333,
    theme-svg: #333333,
    hr: rgba(0, 0, 0, .1),
    span-hover: #000000,
  ),
  dark: (
    background: #12161b,
    primary: #1e1e1e,
    secondary: #3c3c3c,
    danger: #ff6f61,
    warning: #ffb74d,
    info: #64b5f6,
    light: #424242,
    dark: #000000,
    text-gray: #ecf0f1,
    p: #c7cbd1,
    gray: #bbbbbb,
    a: #add8e6,
    h1: #ffffff,
    h2: #ffffff,
    bg-div: #181e25,
    arrow-bg: #2d2a2e,
    arrow-fill: #ffffff,
    input-text: #5A6068,
    theme-svg: #5A6068,
    hr: #383838,
    span-hover: #ffffff,
  )
);

@mixin theme-colors($theme) {
  $colors: map-get($themes, $theme);

  body.#{$theme}-theme {
    background-color: map-get($colors, background);

    p {
      color: map-get($colors, p);
    }

    .color-gray {
      color: map-get($colors, text-gray);
    }

    h1, h2, h3, h4, h5, h6 {
      color: map-get($colors, h1);
    }

    .theme-div {
      color: map-get($colors, text);
      background-color: map-get($colors, bg-div);
    }

    .hr-theme {
      border-top: 1px solid map-get($colors, hr);
    }

    .theme-svg{
      stroke: map-get($colors, theme-svg);
    }

    .bg-input {
      background-color: map-get($colors, background);
      color: map-get($colors, input-text);
    }
    
    .span-hover{
      transition: 0.5s;
      &:hover{
        color: map-get($colors, span-hover);
        transition: 0.5s;
      }
      
    }

    .arrow {
      background-color: map-get($colors, arrow-bg);
      fill: map-get($colors, arrow-fill);
    }
  }
}

// Apply the theme colors mixin for both light and dark themes
@include theme-colors(light);
@include theme-colors(dark);
