$colors: (
  'white': #ffffff,
  'black': #1e2023,
  'red': #E62C33,
  'green': #00ff00,
  'blue': #0000ff,
  'orange': #ff7d19,
  'yellow': #ffff00,
  'gray': #888888,
  'dark-gray': #555555,
  'light-gray': #cccccc,
  'panel': #15171a,
  '404' : #12161b,
  'off-white' : #c7cbd1,
  'admin-footer': #2c2a29,
  'lavender': #9799b5,
);

@mixin generate-background-classes($color-map) {
  @each $name, $color in $color-map {
    .bg-#{$name} {
      background-color: $color;
    }
  }
}

@mixin generate-text-color-classes($color-map) {
  @each $name, $color in $color-map {
    .text-#{$name} {
      color: $color;
    }
  }
}

@include generate-background-classes($colors);
@include generate-text-color-classes($colors);
