::ng-deep .news-detail .content img {
    border-radius: 8px;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

::ng-deep .news-detail .content p {
    font-size: 17px;
    font-weight: 400;
}

::ng-deep .news-detail .content h3,
::ng-deep .news-detail .content p{
    line-height: 34px;
    letter-spacing: -.005em;
    margin-bottom: 1rem;
}

::ng-deep .news-detail .content ul{
    list-style: none;
    
    li{
        padding-bottom: 5px;
    }
}

.news-detail {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    transition: flex 0.5s ease, max-width 0.5s ease;

    @media (max-width: 965px) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .theme-div {
        max-width: 642px;
        transition: max-width 0.5s ease;

        @media (max-width: 965px) {
            max-width: 100%;
        }
    }
}

.more {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    transition: flex 0.5s ease, max-width 0.5s ease;
    .more-news{
        float: right;
    }
    
    

    @media (max-width: 965px) {
        display: none;
    }
}