.card {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    transition: flex 0.5s ease, max-width 0.5s ease;
    padding-right: 10px;

    @media (max-width: 767px) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.popular {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    transition: flex 0.5s ease, max-width 0.5s ease;

    @media (max-width: 767px) {
        display: none;
    }
}

