<div class="width-full position-relative">
    <ul class="m-0 p-0">
        <p class="pl-25px font-size-3xl font-weight-bolder">Ne Oldu?</p>
        <div class="keen-slider" #sliderRef>   
            <li class="width-full keen-slider__slide" *ngFor="let data of slides">
                <div class="margin-25px cursor-pointer">
                    <div class="width-full height-200px overflow-hidden">
                        <img class="border-radius-6px width-full height-full object-fit-cover" [src]="data.image">
                    </div>
                    <div
                        class="d-flex justify-content-between pt-20px letter-spacing-tight text-uppercase">
                        <span class="color-gray font-weight-semibold font-size-xs">{{data.author}}</span>
                        <span class="color-gray font-size-xxs font-weight-normal">{{data.date}}</span>
                    </div>
                    <p class="font-size-lg pt-20px pb-10px font-weight-bold">{{data.description | truncate}}</p>
                </div>
            </li>
        </div>
        <svg *ngIf="slider" [ngClass]="{
                'arrow left-0': true,
                'd-none': currentSlide === 0
            }" (click)="slider.prev()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
        </svg>

        <svg *ngIf="slider" [ngClass]="{
                'arrow right-0': true,
                'd-none': slider.track.details.slides.length - 1 === currentSlide
            }" (click)="slider.next()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
        </svg>
    </ul>
</div>