<div class="width-full position-relative">
    <ul class="m-0 p-0">
        <div class="d-flex justify-content-between align-items-center slider-text">
            <p class="theme-text pl-25px font-size-3xl font-weight-bolder">Ne Oldu?</p>
            <p class="theme-text pr-25px font-size-xs font-weight-bold text-uppercase letter-spacing-wide">{{getFormattedCategories()}} Haberleri</p>
        </div>

        <div class="keen-slider" #sliderRef>   
            <li class="width-full keen-slider__slide" *ngFor="let news of news">
                <div class="margin-25px cursor-pointer slider-content" (click)="navigateToCategory(news)">
                    <div class="width-full height-200px overflow-hidden">
                        <img class="border-radius-6px width-full height-full object-fit-cover" [src]="news.image">
                    </div>
                    <div
                        class="d-flex justify-content-between pt-20px letter-spacing-tight text-uppercase">
                        <span class="color-gray font-weight-semibold font-size-xs">{{news.author}}</span>
                        <span class="color-gray font-size-xxs font-weight-normal">{{news.date}}</span>
                    </div>
                    <p class="theme-text font-size-lg pt-20px pb-10px font-weight-bold">{{news.title | truncate}}</p>
                </div>
            </li>
        </div>
        <svg *ngIf="slider" [ngClass]="{
                'arrow left-0': true,
                'd-none': currentSlide === 0
            }" (click)="slider.prev()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
        </svg>

        <svg *ngIf="slider" [ngClass]="{
                'arrow right-0': true,
                'd-none': slider.track.details.slides.length - 1 === currentSlide
            }" (click)="slider.next()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
        </svg>
    </ul>
</div>