<div class="user-page">
    <div class="d-flex">
        <nav class="sidebar-wrapper" #sidenav>
            <user-sidebar [isSidebarOpen]="isSidebarOpen"></user-sidebar>
        </nav>
        <div class="margin-auto width-full max-width-1024px flex-grow-1">
            <header class="mb-35px header">
                <user-header (toggleSidebar)="toggleSidebar()"></user-header>
            </header>
            <main class="mb-35px content">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>
