<div class="d-flex admin-page">
    <div class="sidebar-wrapper"  #sidenav [ngClass]="{'open': isSidebarOpen}">
        <admin-sidebar [isSidebarOpen]="isSidebarOpen" (closeSideNav)="toggleSidebar()"></admin-sidebar>
    </div>
    <div class="flex-grow-1 content">
        <div class="mb-35px ">
            <admin-header (toggleSidebar)="toggleSidebar()"></admin-header>
        </div>
        <div class="margin-auto width-full max-width-1024px">
            <div class="mb-35px">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>