<div class="d-flex admin-page bg-indigo">
    <nav>
        <div class="sidebar-wrapper" #sidenav>
            <admin-sidebar [isSidebarOpen]="isSidebarOpen"></admin-sidebar>
        </div>
    </nav>

    <div class="flex-grow-1 content">
        <header>
            <div class="mb-35px">
                <admin-header (toggleSidebar)="toggleSidebar()"></admin-header>
            </div>
        </header>

        <main>
            <div class="margin-auto width-full max-width-1024px">
                <div class="pb-35px">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </main>
    </div>
</div>
