$primary-color: #8584f6;
$secondary-color: #c7cbd1;
$border-color: #5e5b7b;
$font-family: 'Inter', sans-serif;
$tertiary-color: #9799b5;

 .login-page{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
    @media (max-width: 768px) {
      margin: 0 20px;
  }

  h2{
    color: $secondary-color;
  }
  
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      margin-bottom: 25px;
    
      .form-group {
        width: 100%;
        margin-bottom: 40px;
      }
    
      label {
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
        color: $border-color;
        font-weight: bold;
        letter-spacing: 1px;
      }
    
      input[type=text],
      input[type=password] {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $primary-color;
        font-weight: bold;
        outline: 0;
        padding-left: 0;
        color: $secondary-color;
        padding-bottom: 10px;
    
        &:focus {
          border-color: inherit;
          box-shadow: none;
          border-bottom: 2px solid $primary-color;
          background-color: transparent;
          color: $secondary-color;
        }
      }
    
      .btn-outline-primary {
        border-color: $primary-color;
        background: transparent;
        color: $primary-color;
        border-radius: 0px;
        font-weight: 800;
        letter-spacing: 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        cursor: pointer;
        padding: .5rem .75rem;
        transition: all .15s ease-in-out;
    
        &:hover {
          background-color: $primary-color;
          right: 0px;
          color: #fff;
        }
      }
    }
  }

