.disabled {

    @media (min-width: 1283px) {
        display: none;
    }
}

.deskop-header{
    @media (max-width: 1283px) {
        background-color: #1e2023;
        height: 60px;
    }
}

.toggle-sidebar {
    font-size: 24px;
    cursor: pointer;
  }